<nav class="panel">
  <div class="panel-heading">
    <div class="field">
      <p class="control">
        <a routerLink="/customers" class="title is-4">Customers</a>
        <button
          [disabled]="isAdding"
          (click)="openAddForm()"
          class="button is-link is-small is-outlined is-pulled-right"
          title="Add new customer"
        >
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
        </button>
      </p>
    </div>
  </div>
  <div class="panel-block is-active" *ngIf="isAdding">
    <div class="field">
      <p class="control">
        <input
          (keyup.enter)="onNameEnter($event.target.value)"
          (keyup.escape)="closeAddForm()"
          class="input is-info"
          type="text"
          placeholder="Enter Customers Name"
        />
      </p>
    </div>
  </div>
  <a
    *ngFor="let customer of (customers$ | async)"
    [routerLink]="['/customers', customer.id]"
    class="panel-block"
    [class.is-active]="selectedCustomerId === customer.id"
  >
    <span class="panel-icon">
      <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    {{ customer.name }}
  </a>
</nav>
